<div>
<app-profile-home></app-profile-home>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <p>Short Bio: "Our Lord, grant us from among our wives and offspring comfort to our eyes and make us an example for the righteous." </p>

    </div>
</div>
<br/>

<div class="row">
    <div class="col-md-6 ml-auto mr-auto text-center">
        <h6 class="description">Profile Completeness</h6>
        <ngb-progressbar type="success" class="mt-0" [value]=pct [striped]="true" [animated]="true"><i>{{pct}}%</i></ngb-progressbar><br>
        <div *ngIf="currentUser.status == 'Inactive'">
          <p>Your profile is not complete yet. To see who best matches you, please complete your profile.</p>
          <button [routerLink]="['/edit-profile']" type="button" class="btn btn-outline-danger btn-round">Complete Profile</button>
        </div>
        <div *ngIf="currentUser.status == 'Pending'">
          <p>Your profile is {{pct}}% complete. A request to activate your account is sent to admin. You will be able to see your best matches after admin approval. It may take 72 hours to 1 week to review your request.</p>
          <button [routerLink]="['/edit-profile']" type="button" class="btn btn-outline-danger btn-round">Edit Profile</button>
        </div>
        <br>
        <div *ngIf=profileComplete()>
          <button type="button" class="btn btn-outline-danger btn-round">TOP MATCHES</button>
        </div>
    </div>

</div>


<div class="nav-tabs-navigation" *ngIf=profileComplete()>
    <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'">
            <ngb-tab title="">
                <ng-template ngbTabContent >
                    <div class="row following" id="follows">
                        <div class="col-md-6 ml-auto mr-auto">
                            <ul class="list-unstyled follows">
                                <ng-container *ngFor="let Id of topMatches; let i=index">
                                <li *ngFor="let user of getTopMatches(Id)">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                            <img src="./assets/img/faces/profile-icon.png" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                        <div class="col-md-3 col-sm-4 ml-auto">
                                            <h6>{{user.fullName}}<br/><small>Age {{user.age}}, {{user.highestEducation}}</small></h6>
                                        </div>
                                        <div class="col-md-3 col-sm-4 ml-auto">
                                            <h6>{{topMatchPct[i]}}% Matching<br/><small>State: {{user.state}}</small></h6>
                                        </div>
                                        <div class="col-md-4 col-sm-2 ml-auto mr-auto" style="padding-top:15px;">
                                            <button *ngIf="!isReqSent(user) && !isAdmin()" type="button" class="btn btn-warning btn-sm" (click)=requestInfo(user,i)>Request Info</button>
                                            <div *ngIf="isReqSent(user) && !isAdmin()" class="form-check">
                                              <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="" checked="" disabled>
                                                <span class="form-check-sign">Request Sent</span>
                                              </label>
                                            </div>
                                            <button *ngIf="isReqSent(user) && isAdmin()" type="button" class="btn btn-warning btn-sm" (click)=giveAccess(user,i)>Give Access</button>
                                        </div>
                                    </div>
                                    <hr />
                                </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>
</div>
</div>
